pyquery>=1.2.4
flask
flask-sqlalchemy
wtforms
Flask-Principal>=0.3.3
Flask-WTF>=0.8.3
Flask-Babel>=0.8
Flask-Login>=0.2.6
WTForms-Components>=0.8.2
furl>=0.3.6
-e git+https://github.com/PuZheng/flask-upload2.git@5c9531dc6516c425f1bbc9edb54112e5b8766883#egg=flask_upload2-origin/master
